doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
    meta(name='generator', content='Hugo 0.84.0')
    title Home 
    link(rel='canonical', href='https://getbootstrap.com/docs/5.0/examples/offcanvas-navbar/')
    link(rel="stylesheet", href="/css/offcanvas.css")
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ', crossorigin='anonymous')
    // Bootstrap core CSS
    link(href='../assets/dist/css/bootstrap.min.css', rel='stylesheet')
    style.
      .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      }
      @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
      }
    // Custom styles for this template
    link(href='offcanvas.css', rel='stylesheet')
  body.bg-light
    nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark(aria-label='Main navigation')
      .container-fluid
        .navbar-brand(href='#') Empresa patito
        button#navbarSideCollapse.navbar-toggler.p-0.border-0(type='button', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarsExampleDefault.navbar-collapse.offcanvas-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
             
            li.nav-item.dropdown
             
                li
                  a.dropdown-item(href='#') Action
                li
                  a.dropdown-item(href='#') Another action
                li
                  a.dropdown-item(href='#') Something else here
          form.d-flex
    .nav-scroller.bg-body.shadow-sm
      nav.nav.nav-underline(aria-label='Secondary navigation')
        .nav-link.active(aria-current='page', href='#') Dashboard
        a.nav-link(href='/cerrarSesion') Cerrar Sesion
    main.container
      .d-flex.align-items-center.p-3.my-3.text-white.bg-purple.rounded.shadow-sm
        .lh-1
          h1.h6.mb-0.text-white.lh-1=session.user
          if session.bandera
            small=session.bandera 
    if mostrarElementos
      .my-3.p-3.bg-body.rounded.shadow-sm
        h6.border-bottom.pb-2.mb-0 Secretos 
        .d-flex.text-muted.pt-3 
          svg.bd-placeholder-img.flex-shrink-0.me-2.rounded(width='32', height='32', xmlns='http://www.w3.org/2000/svg', role='img', aria-label='Placeholder: 32x32', preserveAspectRatio='xMidYMid slice', focusable='false')
            title Placeholder
            rect(width='100%', height='100%', fill='#007bff')
            text(x='50%', y='50%', fill='#007bff', dy='.3em') 32x32
          p.pb-3.mb-0.small.lh-sm.border-bottom
            strong.d-block.text-gray-dark @Oscar:  
                  Some Esta es informacion muy confidencial a la que solo yo Oscar Daniel Bedolla Hernandez debo tener acceso.
        .d-flex.text-muted.pt-3
          svg.bd-placeholder-img.flex-shrink-0.me-2.rounded(width='32', height='32', xmlns='http://www.w3.org/2000/svg', role='img', aria-label='Placeholder: 32x32', preserveAspectRatio='xMidYMid slice', focusable='false')
            title Placeholder
            rect(width='100%', height='100%', fill='#e83e8c')
            text(x='50%', y='50%', fill='#e83e8c', dy='.3em') 32x32
          p.pb-3.mb-0.small.lh-sm.border-bottom
            strong.d-block.text-gray-dark @Oscar:  
                  Some Mi Gato se llama Charly
        .d-flex.text-muted.pt-3
          svg.bd-placeholder-img.flex-shrink-0.me-2.rounded(width='32', height='32', xmlns='http://www.w3.org/2000/svg', role='img', aria-label='Placeholder: 32x32', preserveAspectRatio='xMidYMid slice', focusable='false')
            title Placeholder
            rect(width='100%', height='100%', fill='#6f42c1')
            text(x='50%', y='50%', fill='#6f42c1', dy='.3em') 32x32
          p.pb-3.mb-0.small.lh-sm.border-bottom
            strong.d-block.text-gray-dark @Oscar:  
                  This Tengo codigos de lanzamiento nuclear pero mi mamá no me deja usarlos
        small.d-block.text-end.mt-3
      .my-3.p-3.bg-body.rounded.shadow-sm
        h6.border-bottom.pb-2.mb-0 Planes malvados
        .d-flex.text-muted.pt-3
          svg.bd-placeholder-img.flex-shrink-0.me-2.rounded(width='32', height='32', xmlns='http://www.w3.org/2000/svg', role='img', aria-label='Placeholder: 32x32', preserveAspectRatio='xMidYMid slice', focusable='false')
            title Placeholder
            rect(width='100%', height='100%', fill='#007bff')
            text(x='50%', y='50%', fill='#007bff', dy='.3em') 32x32
          .pb-3.mb-0.small.lh-sm.border-bottom.w-100
            .d-flex.justify-content-between
              strong.text-gray-dark Comer una sandia
            span.d-block  Dicen que comer sandia de noche cae mal, asi que algo malvado a de tener.
        .d-flex.text-muted.pt-3
          svg.bd-placeholder-img.flex-shrink-0.me-2.rounded(width='32', height='32', xmlns='http://www.w3.org/2000/svg', role='img', aria-label='Placeholder: 32x32', preserveAspectRatio='xMidYMid slice', focusable='false')
            title Placeholder
            rect(width='100%', height='100%', fill='#007bff')
            text(x='50%', y='50%', fill='#007bff', dy='.3em') 32x32
          .pb-3.mb-0.small.lh-sm.border-bottom.w-100
            .d-flex.justify-content-between
              strong.text-gray-dark Sabotear los CTF's de los demas.
            span.d-block Arruinar los trabajos de los demas para que solo yo tenga 10.
        .d-flex.text-muted.pt-3
          svg.bd-placeholder-img.flex-shrink-0.me-2.rounded(width='32', height='32', xmlns='http://www.w3.org/2000/svg', role='img', aria-label='Placeholder: 32x32', preserveAspectRatio='xMidYMid slice', focusable='false')
            title Placeholder
            rect(width='100%', height='100%', fill='#007bff')
            text(x='50%', y='50%', fill='#007bff', dy='.3em') 32x32
          .pb-3.mb-0.small.lh-sm.border-bottom.w-100
            .d-flex.justify-content-between
              strong.text-gray-dark Pensar en un nombre de villano.
            span.d-block Oscar no suena muy villanesco.
        small.d-block.text-end.mt-3
    script(src='../assets/dist/js/bootstrap.bundle.min.js')
    script(src='/js/offcanvas.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js', integrity='sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe', crossorigin='anonymous')
    